/* .row.justify-content-center {
    background-color: rgb(245, 232, 216);
} */

.container {
    background-color: #dedede;
}

html {
    background-color: #7D8E95;
}

#header {
    background-color: #7D8E95;
}